ALLOWED_NUMBERS=5212292111111
BULLMQ_WORKER_CONCURRENCY=10
BULLMQ_WORKER_MAX_CONCURRENCY=5000
CORS_ORIGIN_LOCAL=http://localhost:3000
CORS_ORIGIN_PROD=https://URL.onrender.com
ENV=PRODUCTION
GOOGLE_GEMINI_API_KEY=AIzaSy....
GOOGLE_GEMINI_MODEL=gemini-3.1-flash-lite-preview
GOOGLE_GEOLOCATION_API_KEY=AIzaS.....
GOOGLE_GEOLOCATION_API_URL=https://maps.googleapis.com/maps/api/geocode/
PORT=3000
REDIS_HOST=red-d801ame7111111111
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_URL=red-d801ame7111111111:6379
WHATSAPP_API_URL=https://graph.facebook.com/
WHATSAPP_API_VERSION=v25.0
WHATSAPP_TOKEN=EAAHpeLbQaOEBO6vLgs.......